<h2><%= @task.title %></h2>
<p><%= @task.details %></p>
<p><%= @task.completed %></p>

<%= link_to "Delete #{@task.title}",
            task_path(@task),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
<p>To edit the task, <%= link_to 'click here', edit_task_path %></p>
<p>To go back to the list, <%= link_to 'click here', tasks_path %></p>